<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Options -  Wykop Enhancement Suite</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="css/chrome_shared.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/widgets.css">-->
    <!--<link rel="stylesheet" href="css/select2.css"/>-->
    <!--<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>-->
    <!--<script src="js/select2.min.js"></script>-->
    <style>
        body > .main-container {
            max-width: 800px;
            margin: 50px 50px;
        }

        header {
            max-width: 700px;
            margin: 0 auto 50px auto;
            font-size: 48px
        }
    </style>
</head>
<body>
<div class="main-container">
    <h1>
        Wykop Enhancement Suite - Options
    </h1>
    <hr>
    <p>
        <label>
            <input type="checkbox" id="hide-users">
            Usuń posty i komentarze wszystkich czarnolistowanych osób
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="hide-ads">
            Usuń reklamy
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="colored-plus">
            <span style="color: #BB0000">Pokoloruj</span> <span style="color: #339933">nicki</span> <span style="color: #ff5917">osób</span> <span>plusujących</span>
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="nsfwSwitch">
            Pokaż przełącznik NSFW
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="expandableComments">
            Ukrywanie/rozwijanie komentarzy z odpowiedziami
        </label>
    </p>
    <p><h3>Czarna lista fraz</h3></p>
    <small>(rozdzielone przecinkami)</small>
   <p> <span>Jeżeli post zawiera wybrane frazy, nie zostanie wyświetlony</span></p>
    <select id="blacklist-words" multiple="multiple" style="width: 100%;">
    </select>
    <!--<input type="hidden" id="blacklist-words" >-->
    <h2>
        Heheszki
    </h2>
    <hr>
    <p>
        <label>
            <input type="checkbox" id="ban-calka">
            Perm dla cauki
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="green-raja">
            Raja na zawsze <span style="color: #339933">zielona</span>
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" id="bordo-kicioch">
            Kicioch zawsze <span style="color: #BB0000">bordo</span>
        </label>
    </p>
</div>
</body>
</html>
